
<dl class="dl-horizontal">
  <hr>
  <dt><%= comment.user %></dt>
  <dd><%= comment.body %></dd>
  <% if comment.commentable.is_a?(Post) %>
    <dd>
      <%= link_to edit_post_comment_path(post_id: comment.commentable_id, id: comment.id) do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to post_comment_path(post_id: comment.commentable_id, id: comment.id), method: :delete do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to '#', id: "reply-form-link", remote: true do %>
        <i class="fa fa-reply" aria-hidden="true"></i>
      <% end %>
    </dd>
  <% elsif comment.commentable.is_a?(Comment) %>
    <dd>
      <%= link_to edit_comment_comment_path(comment_id: comment.commentable_id, id: comment.id) do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to comment_comment_path(comment_id: comment.commentable_id, id: comment.id), method: :delete do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to '#', id: "reply-form-link", remote: true do %>
        <i class="fa fa-reply" aria-hidden="true"></i>
      <% end %>
    </dd>
  <% end %>
  <br>
  <dd id="reply-form">
    <%= form_for [comment, Comment.new], remote: true do |f| %>
      <%= f.text_field :user, placeholder: "Commenter" %><br/>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
    <% end %>
  </dd>
</dl>

<ul id="tests">
  <%= render partial: 'comments/comment', collection: comment.comments %>
</ul>
