<%= form_for ([@commentable, @comment]) do |f| %>

  <%= render "shared/error_messages", :target => @comment %>

  <div class="form-group">
    <%= f.label :user %>
    <%= f.text_field :user, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :body, rows:3, class: "form-control"%>
  </div>

  <%= f.submit class: "btn btn-default" %>

<% end %>
