<%= form_for @post do |f| %>

  <%= render "shared/error_messages", :target => @post %>

  <div class="form-group">
    <%= f.label :post_title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :post_text %>
    <%= f.text_area :text, rows:15, class: "form-control"%>
  </div>

  <%= f.submit class: "btn btn-default" %>

<% end %>
