<h1>Posts#index</h1>

<p><%= link_to "Add new post", new_post_path %></p>
<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-12"><h3><%= link_to post.title, post_path(post) %> </h3></div>
</div>
<div class="row">
  <div class="col-md-12"><p><%= post.text %></p></div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= link_to edit_post_path(post) do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  </div>
  <div class="col-md-1">
    <%= link_to post, method: :delete do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </div>
  <div class="col-md-4"><%= link_to "Add a comment", new_post_comment_path(post) %> </div>
</div>
<br>

<% end %>
