<h1>Posts#show</h1>

<div class="row">
  <div class="col-md-12">
    <h1><%= @post.title %></h1>
  </div>
  <div class="col-md-10">
    <p><%= @post.text %></p>
  </div>
  <div class="col-md-2" style="padding:0px">
    <div class="short-div">
      <%= link_to edit_post_path(@post) do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </div>
    <div class="short-div">
      <%= link_to @post, method: :delete do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </div>
  </div>
</div>
<br>

<%= form_for [@post, Comment.new] do |f| %>
  <%= f.text_field :user, placeholder: "Commenter" %><br/>
  <%= f.text_area :body, placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment" %>
<% end %>

<br>

<%= render(partial: 'comments/comment', collection: @post.comments.order(created_at: :desc)) %>
