<!DOCTYPE html>
<html>
  <head>
    <title>LearnRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div id="main-container" class="container">
        <div class="row">
          <%= link_to "Home", root_path %>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <%= yield %>
          </div>
        </div>
      </div>

    </body>

</html>
